USE [master]
GO
/****** Object:  Database [GuestBook]    Script Date: 11/23/2017 5:34:02 PM ******/
CREATE DATABASE [GuestBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuestBook', FILENAME = N'E:\DataBase\MSSQL13.MSSQLSERVER\MSSQL\DATA\GuestBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GuestBook_log', FILENAME = N'E:\DataBase\MSSQL13.MSSQLSERVER\MSSQL\DATA\GuestBook_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuestBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuestBook]
GO
USE [GuestBook]
GO
/****** Object:  Table [dbo].[GuestBook]    Script Date: 11/23/2017 5:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestBook](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_GuestBook] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[DeleteGuestBook]    Script Date: 11/23/2017 5:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteGuestBook](@ID int)
as
begin
	delete from GuestBook where ID=@ID
end


GO
/****** Object:  StoredProcedure [dbo].[InsertGuestBook]    Script Date: 11/23/2017 5:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertGuestBook](

@Name nvarchar(50),
@Message nvarchar(MAX))
AS
BEGIN
	insert into GuestBook values(@Name,@Message)  
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateGuestBook]    Script Date: 11/23/2017 5:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateGuestBook](
@ID int,
@Name nvarchar(50),
@Message nvarchar(MAX))
AS
BEGIN
	update GuestBook set Name=@Name,Message=@Message  where ID=@ID
END

GO
USE [master]
GO
